@font-face {
  src: url("./fonts/OrangeJuice-vXl7.ttf");
  font-family: logo;
}

@font-face {
  src: url("./fonts/FruitSale.ttf");
  font-family: titulo;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
}

header nav {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  font-family: logo;
}

header nav h2 {
  color: rgb(43, 180, 43);
  margin-left: -15%;
}

header nav ul {
  display: flex;
}

header nav li {
  list-style: none;
  margin-left: 7%;
}

header nav li a {
  text-decoration: none;
  color: rgb(104, 96, 96);
}

header nav li a:hover {
  color: rgb(57, 201, 57);
}

main {
  height: 700px;
  background-image: url("./imgs/fundo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main section h1 {
  color: rgb(35, 164, 41);
  font-family: titulo;
  font-size: 90px;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

main section.principal p {
  color: rgb(35, 164, 41);
  font-family: titulo;
  font-size: 40px;
  margin: 0;

  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

main section.principal button {
  color: white;
  font-family: titulo;
  font-size: 25px;
  margin: 0;
  border-top: 2px;
  border: black;

  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

section.details {
  display: flex;
  justify-content: space-around;

  font-family: logo;
}

section.details img {
  width: 130px;
  height: 130px;
  margin-top: 10%;
  margin-left: 11%;
}

section.details p {
  margin-top: 9%;
  margin-left: 30%;
  color: rgb(35, 164, 41);

  font-size: 25px;
}

footer {
  list-style: none;
  background-color: rgb(89, 156, 92);
}

footer div.content {
  display: flex;
  justify-content: space-around;
}

footer p {
  padding: 0;
  margin: 5%;

  color: rgb(73, 59, 59);
  font-family: logo;
  font-size: 20px;
}
